<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title: 'Detalle' , stylesheet: ['/css/styles.css','/css/productDetail.css']}) %>

    <body>
        <%- include('../partials/header') %>
            <h2 class="titulo">
                <%= pSelected.name %>
            </h2>

            <main>

                <div class="containerMain">

                    <section class="containerImage">
                        <figure>
                            <img src="/img/products/<%= pSelected.image %>" alt="imagen de producto" width=100%
                                height="300px auto">
                        </figure>
                    </section>

                    <section class="containerInfo">

                        <article class="product-detail-info">

                            <p class="product-detail-price-small">
                                <span>$<%= pSelected.price %></span>
                                <% if (pSelected.discount> 0) { %>
                                    <b>
                                        <%= pSelected.discount %>% OFF
                                    </b>
                                    <% } else { %>
                                        <b> 0 % OFF</b>
                                        <% } %>
                            </p>

                            <!-- <p class="product-detail-price">
                                $<%= pSelected.price %>
                            </p> -->


                            <ul class="actions-list">
                                <li>
                                    <i class="fas fa-credit-card"></i>
                                    <p><strong>Pagá en 12 cuotas sin interes</strong></p>
                                </li>
                                <li>
                                    <i class="fas fa-store"></i>
                                    <p><strong>Retiro gratis en sucursal</strong></p>
                                </li>
                            </ul>

                            <div class="containerBoton">
                                <a href="/products/cart/<%= pSelected.id %>"><button type="submit"
                                        class="boton">COMPRAR</button></a>
                            </div>
                        </article>
                    </section>

                </div>

                <div class="description-product-new">

                    <button onclick="toggleDescriptionProduct()"><strong>DESCRIPCION COMPLETA DEL PRODUCTO</strong></button>
                    <p class="product-detail-description" id="descriptionP" style="display: none;">
                        <%= pSelected.description %>
                    </p>

                </div>



                <div class="adm">

                    <div>
                        <a href="/products/edit/<%= pSelected.id %>"><button type="submit" class="botonED">
                                <p><i class="fa-solid fa-pen-to-square"></i></p>
                            </button></a>
                    </div>

                    <form action="/products/delete/<%= pSelected.id %>?_method=DELETE" method="POST"
                        style="display: inline-flex"><button type="submit" class="botonEL">
                            <p><i class="fa-solid fa-trash"></i></p>
                        </button>
                    </form>

                </div>
            </main>

            <%- include('../partials/footer') %>
    </body>

    <script src="/js/script.js"></script>

</html>